name: Run Gradle on PRs
on: pull_request
jobs:
  gradle:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-java@master
      with:
        java-version: 8
    - uses: eskatos/gradle-command-action@v1
      with:
        gradle-version: current
        arguments: build
