name: Release
on:
  push:
    branches:
      - master
env:
  gradleVersion: 7.3.2

jobs:
  release-on-push:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - id: release
        uses: rymndhng/release-on-push-action@master
        with:
          tag_prefix: ""
          bump_version_scheme: patch
      - uses: actions/checkout@master
        if: ${{ steps.release.outputs.version != '' }}
      - uses: actions/setup-java@master
        if: ${{ steps.release.outputs.version != '' }}
        with:
          distribution: 'adopt'
          java-version: 8
      - uses: eskatos/gradle-command-action@v1
        name: Build
        if: ${{ steps.release.outputs.version != '' }}
        with:
          gradle-version: ${{ env.gradleVersion }}
          arguments: build
      - name: Prepare to publish
        if: ${{ steps.release.outputs.version != '' }}
        run: |
          echo '${{secrets.GPG_KEY_CONTENTS}}' | base64 -d > publish_key.gpg
          gpg --quiet --batch --yes --decrypt --passphrase="${{secrets.SECRET_PASSPHRASE}}" \
          --output secret.gpg publish_key.gpg
      - uses: eskatos/gradle-command-action@v1
        name: Publish artifact
        if: ${{ steps.release.outputs.version != '' }}
        with:
          gradle-version: ${{ env.gradleVersion }}
          arguments: >
            publish -Psigning.secretKeyRingFile=secret.gpg
            -Psigning.keyId=${{secrets.SIGNING_KEYID}}
            -Psigning.password=${{secrets.SIGNING_PASSWORD}}
            -PnexusUsername=${{secrets.NEXUS_USERNAME}}
            -PnexusPassword=${{secrets.NEXUS_PASSWORD}}
            -Pversion=${{steps.release.outputs.version}}
      - uses: eskatos/gradle-command-action@v1
        name: Nexus Release
        if: ${{ steps.release.outputs.version != '' }}
        with:
          gradle-version: ${{ env.gradleVersion }}
          arguments: >
            closeAndReleaseRepository
            -PnexusUsername=${{secrets.NEXUS_USERNAME}}
            -PnexusPassword=${{secrets.NEXUS_PASSWORD}}
            -Pversion=${{steps.release.outputs.version}}
